# IDEs
.vscode
.idea
.run

# Rust
target
Cargo.lock

# Godot
**/.import/
**/.godot/**
# Needed to run projects without having to open the editor first.
!**/.godot/extension_list.cfg
!**/.godot/global_script_class_cache.cfg

# This project: input JSONs and code generation
gen

# Temporary tweaks, remove later
/script
*.bat
config.toml
exp.rs
