# IDEs
.vscode
.idea
.run

# Rust
target
Cargo.lock

# Godot (extension list needed to run tests without prior editor opening)
.godot
!/itest/.godot/extension_list.cfg

# This project: input JSONs and code generation
/gdext-codegen/input/gen/
/gdext-sys/src/gen/
/gdext-class/src/gen/

# Temporary tweaks, remove later
/script
/build.bat
/run.bat
config.toml