# IDEs
.vscode
.idea
.run

# Rust
target
Cargo.lock

# Godot
# .godot needs to be a pattern like this and not a directory, otherwise the negative statements below don't apply
**/.godot/**
*.import

# Needed to run projects without having to open the editor first.
!**/.godot/extension_list.cfg

# This project: input JSONs and code generation
gen

# Temporary tweaks, remove later
/script
*.bat
config.toml
exp.rs

# Mac specific
.DS_Store

# Windows specific
desktop.ini

# Test outputs
/itest/rust/src/register_tests/res/actual_registered_docs.xml
