[package]
name = "itest-dependency"
version = "0.0.0"
edition = "2021"
rust-version = "1.87"
license = "MPL-2.0"
publish = false

[dependencies]
godot = { path = "../../godot", default-features = false }
